<header>
  <nav>
    <div class="row expanded">

    <!-- Left -->
    <div class="small-3 columns text-left align-middle navigation__left show-for-medium">
      <ul class="menu simple align-left">
        <li><a data-toggle="overlay">Work</a></li>
      </ul>
    </div>
    <!-- End Left -->

    <!-- Center -->
    <div class="small-12 medium-6 columns text-center logo align-middle navigation__center navigation__title">

      <!-- Desktop Menu -->
      <div class="navigation__title__desktop">
        <a href="/"><h1>Dragonfly Scenery<br><span>Set Design + Construction</span></h1></a>
      </div>
      <!-- End Desktop Menu -->

      <!-- Mobile Menu -->
      <button class="hamburger hamburger--collapse show-for-small-only" data-toggler=".is-active" type="button" data-toggle="overlay-mobile">
        <span class="hamburger-box"><span class="hamburger-inner"></span></span>
      </button>
      <!-- End Mobile Menu -->

    </div>
    <!-- End Center -->

    <!-- Right -->
    <div class="medium-3 columns text-right align-middle navigation__right show-for-medium">
      <ul class="menu simple align-right">
        <li><a href="/about/" class="animsition-link">About</a></li>
        <li><a href="/contact/" class="animsition-link">Contact</a></li>
      </ul>
    </div>
    <!-- End Right -->

    </div>
  </nav>
</header>