<nav class="nav__right">
<ul class="vertical menu" data-accordion-menu>
      <li>
      <a href="#" class="uppercase">Collections</a>
      
      <ul class="nested vertical menu">
      {% for entry in site.data.navigation.collections %}
      {% assign sublinks = entry.sublinks %}
      {% if sublinks %}
      <li{{ current }}>
      <a href="{{ site.baseurl }}{{ entry.url }}" class="uppercase">{{ entry.title }}</a>
      <ul class="menu vertical nested">
      {% for sublink in sublinks %}
      <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
      {% endfor %}
      </ul>
      </li>
      {% else %}
      <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}" class="uppercase">{{ entry.title }}</a></li>
      {% endif %}
      {% endfor %}
      </ul>
      
      </li>
      
      <li>
      <a href="#" class="uppercase">Collaborations</a>
      
      <ul class="nested vertical menu">
      {% for entry in site.data.navigation.collaborations %}
      {% assign sublinks = entry.sublinks %}
      {% if sublinks %}
      <li{{ current }}>
      <a href="{{ site.baseurl }}{{ entry.url }}" class="uppercase">{{ entry.title }}</a>
      <ul class="menu vertical nested">
      {% for sublink in sublinks %}
      <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
      {% endfor %}
      </ul>
      </li>
      {% else %}
      <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}" class="uppercase">{{ entry.title }}</a></li>
      {% endif %}
      {% endfor %}
      </ul>
      
      </li>
      
      <li><a href="/contact" class="uppercase">Contact</a></li>

</ul>
</nav>