@font-face {
  font-family: 'BasisGrotesque';
  src: url('../fonts/BasisGrotesque.eot?#iefix') format('embedded-opentype'), url('../fonts/BasisGrotesque.woff') format('woff'), url('../fonts/BasisGrotesque.ttf')  format('truetype'), url('../fonts/BasisGrotesque.svg#BasisGrotesque') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DTLHaarlemmerD';
  src: url('../fonts/DTLHaarlemmerD.eot?#iefix') format('embedded-opentype'), url('../fonts/DTLHaarlemmerD.woff') format('woff'), url('../fonts/DTLHaarlemmerD.ttf')  format('truetype'), url('../fonts/DTLHaarlemmerD.svg#DTLHaarlemmerD') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TiemposHeadline-Semibold';
  src: url('../fonts/TiemposHeadline-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/TiemposHeadline-Semibold.woff') format('woff'), url('../fonts/TiemposHeadline-Semibold.ttf')  format('truetype'), url('../fonts/TiemposHeadline-Semibold.svg#TiemposHeadline-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PostGrotesk-Regular';
  src: url('../fonts/PostGrotesk-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PostGrotesk-Regular.woff') format('woff'), url('../fonts/PostGrotesk-Regular.ttf')  format('truetype'), url('../fonts/PostGrotesk-Regular.svg#PostGrotesk-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}