<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="{{page.title | slugify}} animated fadeIn">

<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-transition="overlap">
{% include navigation-canvas.html %}
</div>

<div class="off-canvas-content" data-off-canvas-content>
  
{{ content }}

{% include footer.html %}
</div>

</body>

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

</html>