---
layout: default
---

<div class="top-bar row expanded collapse align-middle"> 
  <div class="expand columns">
    <a href="/" class="uppercase nav__title">{{ site.title }}</a>
  </div>
  
  <div class="shrink columns text-right top-bar-right-mobile">
    <button class="hamburger hamburger--collapse" id="toggle" data-toggler=".is-active" type="button" data-toggle="offCanvas toggle">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</div>

<section class="section section-home" id="home">
  <div class="section-wrapper">
    
    <div class="row">
      <div class="small-12 columns">
        <h1 class="site-title"><img src="/assets/img/logo.svg" alt="{{ site.title }}"></h1>
      </div>
    </div>
    
  </div>
</section>

<section class="section section-about" id="about">
  <div class="section-wrapper">
    
    <div class="row align-center">
      <div class="small-8 columns text-center">
        <h1>British seasonal ingredients through an Italian lens.</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns text-center">
        <p>88 St.John Street<br>London, EC1M 4EH<br><a href="tel:+442038593000">+44 (0)20 3859 3000</a></p>
      </div>
    </div>
    
    <div class="row align-center">
      <div class="shrink columns">
        <ul class="menu align-center">
          <li><a href="#">TW</a></li>
          <li><a href="#">FB</a></li>
          <li><a href="#">IN</a></li>
        </ul>
      </div>
    </div>
    
  </div>
</section>

<section class="section section-restaurant" id="restaurant">
  <div class="section-wrapper">
    
    <div class="row align-center">
      <div class="small-8 columns text-center">
        <h1>Restaurant</h1>
        <p>The Restaurant serves high quality ingredients from around the British Isles with a focus on pasta. Produce such as Shrimps from Morecambe Bay, Grouse from Yorkshire, Langoustine from Scotland and cheeses from across the country. It is food that observes the established traditions of Italian cooking, but breaks the rules a little.</p>
        <p>Open all week for lunch and dinner.<br>Closed Sunday nights.</p>
        <a href="about.html" class="button hollow">Book a Table</a>
      </div>
    </div>
    
  </div>
</section>

<section class="section section-bar" id="bar">
  <div class="section-wrapper">
    
    <div class="row align-center">
      <div class="small-8 columns text-center">
        <h1>Bar</h1>
        <p>Things to share. Small plates. Salads and sandwiches. Camparisoda. The bar at Luca is a separate space, open all day, for espresso and pastries from 8am, a salad or a sandwich for lunch and a menu of small plates at dinnertime. You are welcome throughout the day at any time. From now until Christmas the bar will open at midday. From mid January it will be open from 8am.</p>
        <p>Open seven days from twelve noon.</p>
      </div>
    </div>
    
  </div>
</section>

<section class="section section-gallery" id="gallery">
  <div class="gallery">
    {% for image in page.images %}
      <div class="gallery-cell" style="background-image: url({{image}})"></div>
    {% endfor %}
  </div>
</section>

<section class="section section-menu" id="menu">
  <div class="section-wrapper">
    
    <div class="row align-center">
      <div class="small-8 columns text-center">
        <h1>Menu</h1>
        <p>Things to share. Small plates. Salads and sandwiches. Camparisoda. The bar at Luca is a separate space, open all day, for espresso and pastries from 8am, a salad or a sandwich for lunch and a menu of small plates at dinnertime. You are welcome throughout the day at any time. From now until Christmas the bar will open at midday. From mid January it will be open from 8am.</p>
        <p>Open seven days from twelve noon.</p>
      </div>
    </div>
    
  </div>
</section>