---
layout: default
---

<!-- Home -->
<div class="row expanded home" id="home">
  <div class="column flex-container flex-dir-column align-justify">

    <div class="home__top top-bar row expanded collapse align-middle align-justify"> 
      <div class="shrink columns top-bar-left-mobile">
        <ul class="menu simple">
        <li><a href="https://www.opentable.co.uk/the-windsor-castle-reservations-london?restref=101931&lang=en">Reservations</a></li>
        <li><a href="tel:02089856096">Call Us</a></li>
        <li><a href="https://goo.gl/maps/4T9iv">Map</a></li>
        </ul>
      </div>
      
      <div class="shrink columns text-right top-bar-right-mobile">
        <button class="hamburger hamburger--collapse" id="toggle" data-toggler=".is-active" type="button" data-toggle="offCanvas toggle">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>

    <div class="row expanded collapse align-middle align-center home__middle">
      <div class="small-10 columns text-center">
        <a href="#about"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
      </div>
    </div>
    
    <div class="home__bottom row expanded collapse align-middle align-center"> 
      <div class="shrink columns home__arrow"> 
        <a href="#about"><svg class="icon icon-arrow_downward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_downward"></use></svg></a>
      </div>
    </div>
    
  </div>
</div>
<!-- End Home -->

<!-- About -->
<section class="row expanded align-middle align-center section" id="about">
  <div class="columns align-self-middle"> 
  
      <div class="row expanded align-center">
        <div class="small-11 medium-8 large-8 columns text-center">
          <h1>A big Victorian pub located on Lower Clapton Road, Hackney</h1>
          <p class="lead">The pub features two courtyard style gardens, a dining area and a horse shoe bar serving (mostly) European wines, seasonal house drinks, and local craft beers.
The kitchen serves hearty pub food with a focus on local and seasonal produce seven days a week, including a classic Sunday roast. The Windsor Castle is child and pet friendly with a generous outside seating area which is candle lit in the evenings.</p>
        </div>
      </div>
      
      <div class="row expanded align-center">
        <div class="small-12 columns text-center">
          <p><a href="https://goo.gl/maps/4T9iv">135 Lower Clapton Road<br>Hackney, London E5 8EQ</a><br><a href="tel:4402089856096">+44 (0)208 985 6096</a></p>
        </div>
      </div>
      
      <div class="row expanded align-center">
        <div class="shrink columns">
          <ul class="menu simple align-center about__socials">
            <li><a href="{{site.social.twitter}}">TW</a></li>
            <li><a href="{{site.social.facebook}}">FB</a></li>
            <li><a href="{{site.social.instagram}}">IN</a></li>
          </ul>
        </div>
      </div>
  
  </div>
</section>
<!-- End About -->

<!-- Food -->
<section class="row expanded align-middle align-center section food" id="food">
  <div class="columns align-self-middle"> 

    <div class="row expanded align-center">
      <div class="small-11 medium-8 large-8 columns text-center">
        
        <h1>Food</h1>
        <p class="lead">The Windsor Castle’s kitchen is open seven days a week serving a seasonal, produce-led menu.</p>
        <p>Open Weekdays from 6.30PM<br>Weekends from 1PM</p>
        <p>Please note, menus are samples and may differ on the day</p>
        
        <div class="row expanded align-center">
          <div class="small-12 medium-8 large-6 columns text-center">
            <a href="https://www.dropbox.com/s/pkvfmmgka5fypc1/the-windsor-castle-menu.pdf?dl=1" class="button hollow expanded">Main Menu</a>
            <a href="https://www.dropbox.com/s/nurdijkkx1596n5/the-windsor-castle-sunday-menu.pdf?dl=1" class="button hollow expanded">Sunday Menu</a>
            <a href="https://www.opentable.co.uk/the-windsor-castle-reservations-london?restref=101931&lang=en" class="button hollow expanded">Book a Table</a>
          </div>
        </div>
        
      </div>
    </div>

  </div>
</section>
<!-- End Food -->

<!-- Food Carousel -->
<section class="carousel--food">
{% for image in page.food-images %}
  <img src="{{image}}">
{% endfor %}
</section>
<!-- End Food Carousel -->

<!-- Drinks -->
<section class="row expanded align-middle align-center section drinks" id="drinks">
  <div class="columns align-self-middle"> 
    
    <div class="row expanded align-center">
      <div class="small-11 medium-8 large-8 columns text-center">
        
        <h1>Drinks</h1>
        <p class="lead">The beer selection features our favourite East London breweries including <a href="http://fivepointsbrewing.co.uk" target="_blank" class="anchor--light">Five Points</a>, <a href="https://www.trumansbeer.co.uk" target="_blank" class="anchor--light">Trumans</a>, <a href="https://www.meantimebrewing.com" target="_blank" class="anchor--light">Meantime</a>, and <a href="http://cratebrewery.com" target="_blank" class="anchor--light">Crate</a> alongside some slightly more familiar faces for those of you who like their beer with minimum fuss. We also serve an ever-evolving selection of seasonal house drinks, see our <a href="{{site.social.facebook}}" target="_blank" class="anchor--light">Facebook</a> and <a href="{{site.social.twitter}}" target="_blank" class="anchor--light">Twitter</a> for the latest.</p>
        <p>Open seven days from twelve noon.</p>
        
        <div class="row expanded align-center">
          <div class="small-12 medium-8 large-6 columns text-center">
          <a href="https://www.dropbox.com/s/5cb1oygf3xl6ioa/the-windsor-castle-wine-list.pdf?dl=1" class="button hollow secondary expanded">Wine Menu</a>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
</section>
<!-- End Drinks -->

<!-- Drinks Carousel -->
<section class="carousel--drinks">
{% for image in page.drinks-images %}
  <img src="{{image}}">
{% endfor %}
</section>
<!-- End Drinks Carousel -->

<!-- Reservations -->
<section class="row expanded align-middle align-center section reservations" id="reservations">
  <div class="columns align-self-middle"> 
    
    <div class="row expanded align-center">
      <div class="small-11 medium-8 large-8 columns text-center">
        
        <h1>Reservations</h1>
        <p class="lead">We can accommodate very large groups at the pub, and we offer the option of a banquet for parties above twelve guests. Exclusive bookings are welcome, for more information <a href="tel:02089856096" class="anchor--dark">call</a> or <a href="mailto:bookings@thewindsorcastleclapton.com" class="anchor--dark">email</a></p>
        <p>Please note that we can offer a 1AM license for parties on request for Thursday, Friday and Saturday</p>
        
        <div class="row expanded align-center">
          <div class="small-12 medium-8 large-6 columns text-center">
          <a href="https://www.opentable.co.uk/the-windsor-castle-reservations-london?restref=101931&lang=en" class="button hollow expanded" target="_blank">Book a Table</a>
          <a href="mailto:bookings@thewindsorcastleclapton.com" class="button hollow expanded">Group / Exclusive</a>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
</section>
<!-- End Reservations -->

<!-- Location -->
<section class="row expanded align-middle align-center section location" id="location">
  <div class="columns align-self-middle"> 
  
    <div class="row expanded align-center">
      <div class="small-11 medium-8 large-8 columns text-center">
        
          <div class="row expanded align-center location__header">
            <div class="shrink columns">
              <h1>Find Us</h1>
              <p class="lead">The Windsor Castle, 135 Lower Clapton Road, London, E5 8EQ - <a href="https://goo.gl/maps/4T9iv" target="_blank" class="anchor--dark">Map</a></p>
            </div>
          </div>
        
          <div class="row expanded align-center">
            
            <div class="small-11 medium-6 columns">
              <p class="location__sub">By Car</p>
              <p>There are pay and display parking bays on the streets adjacent to The Windsor Castle, however spaces can become limited at peak times.</p>
              <p><a href="http://en.parkopedia.co.uk/parking/e5_8eq/" target="_blank" class="anchor--dark">Parking Map</a></p>
            </div>
        
            <div class="small-11 medium-6 columns">
              <p class="location__sub">Train and Overground</p>
              <p>The are several stations within walking distance<br>
              Clapton — 10 min<br>
              Hackney Central – 10 min<br>
              Hackney Downs – 10 min</p>
              <p><a href="http://www.tfl.gov.uk/plan-a-journey/?&amp;to=E5+8EQ" target="_blank" class="anchor--dark">TFL</a></p>
            </div>
        
            <div class="small-11 medium-6 columns">
              <p class="location__sub">By Bus</p>
              <p>Nearby bus stops served by 38, 253, 106, 55, 254, 48, 56, 488, 242, 393.</p>
              <p><a href="http://www.tfl.gov.uk/plan-a-journey/?&amp;to=E5+8EQ" target="_blank" class="anchor--dark">TFL</a></p>
            </div>
        
            <div class="small-11 medium-6 columns">
              <p class="location__sub">By Bike</p>
              <p>There are a number of bike racks located outside of the pub.</p>
            </div>
            
          </div>
      
      </div>
    </div>
  
  </div>
</section>
<!-- End Location -->